* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

/* Sidebar */
body {
    background-color: #2b1515;
    margin: 15px;
}

#nav {
    background-color: #ff5555;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 10px 10px 40px #0000007a;
}

.navzetvue,
.navlinks a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.navzetvue,
.navlinks {
    display: flex;
}

.navzetvue {
    justify-content: flex-start;
    width: 100%;
    padding-left: 40px;
}

.navlinks {
    justify-content: flex-end;
    width: 100%;
    padding-right: 40px;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
    text-decoration: none;
    color: #2b1515;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #ff5555;
}

ul {
    list-style-type: none;
}

/* Introduction */
.introduction {
    padding: 50px;
    padding-top: 80px;
    color: #ff5555;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 20px;
}

.introMedia {
    padding-top: 20px;
}

.introSVG {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.introSVG img {
    padding-left: 7px;
    padding-right: 7px;
}

.introMe {
    font-size: 25px;
    text-align: center;
}

.introBrief {
    font-size: 20px;
    text-align: center;
}

h2 {
    color: #ffa0a0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

/* Font */
@font-face {
    font-family: outfit;
    src: url(assets/fonts/Outfit.ttf);
    font-display: swap;
}

/* Other */
.navCurrentlyOn {
    font-weight: 700;
}